@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  cursor: none !important;
}

body {
  overflow-x: hidden;
}

@layer base {
  html {
    @apply text-primary bg-secondary-black;
  }

  .strike-anim {
    @apply relative before:block before:absolute before:w-full before:h-[7%]
  before:bg-secondary-black before:top-[58%] before:left-0 before:scale-x-0 
    before:transition-transform before:origin-right before:duration-1000 
    hover:before:scale-x-100 hover:before:origin-left;
  }
}
