@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  cursor: none !important;
}

body {
  overflow: hidden;
}

@layer base {
  html {
    @apply text-primary;
  }

  .strike-hover {
    @apply relative before:block before:absolute before:w-full before:h-[7%]
  before:bg-secondary-black before:top-[58%] before:left-0 before:scale-x-0 
    before:transition-transform before:origin-right before:duration-1000 
    before:pointer-events-none hover:before:scale-x-100 hover:before:origin-left
    [&.active]:before:scale-x-100;
  }

  .gallery-item {
    @apply w-full h-full opacity-50 [&.active]:opacity-100 hover:opacity-100 transition-opacity duration-500;
  }

  .work-section {
    @apply md:px-14 px-8 max-w-[1200px] mx-auto;
  }

  .about-section {
    @apply md:px-14 px-3 max-w-[1200px] mx-auto;
  }

  .carousel-step {
    @apply w-[0.125rem] h-5 bg-gray-600 block [&.active]:bg-white;
  }
}
