@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply text-primary bg-secondary-black;
  }

  .strike-anim {
    @apply relative hover:before:scale-100 before:block before:absolute 
    before:w-full before:h-0.5 before:bg-secondary-black before:top-1/2 
    before:left-0 before:scale-0 before:transition-all before:origin-right 
    before:duration-500;
  }
}
